#kittenImage {
    width: 150px;
}

.titleDiv {
    border: 2px double black;
}

.fa-heart {
    color: red;
}

ol{
    list-style-position: inside
}

.imageBackground{
    background-color: #f7f7f7;
}